[genuitec-file-id="wc1-431"],[genuitec-lp-path="/jeecmsv9/src/main/webapp/r/cms/design/css/default.css"],[genuitec-lp-enabled=false]{
  /* for codelive */
}

.bodyPage{width: 1000px;margin:auto;}
.pageContext{width: 700px;margin:auto;}
.content{overflow:auto;}
.contentWapper{overflow:auto;}